# Docker image for documentation build with Sphinx.
# Copyright JAKOTA Design Group GmbH. All rights reserved.

version: '3.6'
services:
  sphinx:
    container_name: sphinx-build
    build:
      context: './'
    hostname: sphinx-build
    volumes:
      - ${source}:/mnt/source
      - ${documentation}:/mnt/Documentation
